---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=2177752456.2075087.3fa3086598e94d41bdec910cfa5b3f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="2177752456.2075087.3fa3086598e94d41bdec910cfa5b3f36"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4996'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/2177752456\/media\/recent?access_token=2177752456.2075087.3fa3086598e94d41bdec910cfa5b3f36\u0026max_id=1069978767812093260_2177752456","next_max_id":"1069978767812093260_2177752456"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1441840102","link":"https:\/\/instagram.com\/p\/7bX_MDpmeW\/","likes":{"count":2,"data":[{"username":"keeeegzzz","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xfp1\/t51.2885-19\/1889238_905275316231763_2076080107_a.jpg","id":"322546098","full_name":"keegan_eddy"},{"username":"csmith0809","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/11371172_1665787873653509_2025360548_a.jpg","id":"226383087","full_name":""}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e35\/11850287_730702363742999_1093952285_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e35\/11850287_730702363742999_1093952285_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/e35\/11850287_730702363742999_1093952285_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":null,"user_has_liked":false,"id":"1070554833773553558_2177752456","user":{"username":"drew_conly","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11950578_1650640025219357_532434780_a.jpg","id":"2177752456","full_name":"Drew"}},{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"X-Pro
        II","created_time":"1441839855","link":"https:\/\/instagram.com\/p\/7bXg7spmdq\/","likes":{"count":2,"data":[{"username":"keeeegzzz","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xfp1\/t51.2885-19\/1889238_905275316231763_2076080107_a.jpg","id":"322546098","full_name":"keegan_eddy"},{"username":"deanie_babies","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11311564_1042528309105138_1476836393_a.jpg","id":"195586294","full_name":"Dean
        Unglert"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11821861_1130106607017017_1809734773_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/11821861_1130106607017017_1809734773_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11821861_1130106607017017_1809734773_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1441839855","text":"College","from":{"username":"drew_conly","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11950578_1650640025219357_532434780_a.jpg","id":"2177752456","full_name":"Drew"},"id":"1070552756485776592"},"user_has_liked":false,"id":"1070552754623506282_2177752456","user":{"username":"drew_conly","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11950578_1650640025219357_532434780_a.jpg","id":"2177752456","full_name":"Drew"}},{"attri[...]
